{% extends "base.html" %}

{% block head %}
{{ super() }}
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='simple-line-icons.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='uniform.default.css') }}" rel="stylesheet" type="text/css"/>
  <!-- END GLOBAL MANDATORY STYLES -->
  <!-- BEGIN PAGE LEVEL STYLES -->
  <link href="{{ url_for('static', filename='select2.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css"/>
  <!-- END PAGE LEVEL STYLES -->
  <!-- BEGIN THEME STYLES -->
  <link href="{{ url_for('static', filename='style-conquer.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='style-responsive.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='plugins.css') }}" rel="stylesheet" type="text/css"/>
  <link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
  <link href="{{ url_for('static', filename='custom.css') }}" rel="stylesheet" type="text/css"/>
  <!-- END THEME STYLES -->
{% endblock %}

{% block page_content %}
  <div class="clearfix">
  </div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
          <div class="page-content">
              <!-- BEGIN PAGE CONTENT-->
              <div class="row">
                  <div class="col-md-12">
                      <!-- BEGIN EXAMPLE TABLE PORTLET-->
                      <div class="portlet">
                          <div class="portlet-title">
                              <div class="caption">
                                  <i class="fa fa-edit"></i>Editable Table
                              </div>
                              <div class="tools">
                                  <a href="javascript:;" class="collapse">
                                  </a>
                                  <a href="#portlet-config" data-toggle="modal" class="config">
                                  </a>
                                  <a href="javascript:;" class="reload">
                                  </a>
                                  <a href="javascript:;" class="remove">
                                  </a>
                              </div>
                          </div>
                          <div class="portlet-body">
                              <div class="table-toolbar">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="btn-group">
                                              <button id="sample_editable_1_new" class="btn btn-success">
                                              Add New <i class="fa fa-plus"></i>
                                              </button>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="btn-group pull-right">
                                              <button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                                              </button>
                                              <ul class="dropdown-menu pull-right">
                                                  <li>
                                                      <a href="#">
                                                      Print </a>
                                                  </li>
                                                  <li>
                                                      <a href="#">
                                                      Save as PDF </a>
                                                  </li>
                                                  <li>
                                                      <a href="#">
                                                      Email </a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                              <thead>
                              <tr>
                                  <th>
                                       ID
                                  </th>
                                  <th>
                                       Priority
                                  </th>
                                  <th>
                                       Task
                                  </th>
                                  <th>
                                       Created
                                  </th>
                                  <th>
                                       Action
                                  </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  <td>
                                       1
                                  </td>
                                  <td>
                                       High
                                  </td>
                                  <td>
                                       Buy Pancake Mix
                                  </td>
                                  <td>
                                       2016-05-31
                                  </td>
                                  <td>
                                      <a class="edit" href="javascript:;">
                                      Complete </a> |
                                      <a class="delete" href="javascript:;">
                                      Delete </a>
                                  </td>
                              </tr>
                              </tbody>
                              </table>
                          </div>
                      </div>
                      <!-- END EXAMPLE TABLE PORTLET-->
                  </div>
              </div>
              <!-- END PAGE CONTENT -->
          </div>
      </div>
      <!-- END CONTENT -->
  </div>
  <!-- END CONTAINER -->
{% endblock %}

{% block scripts %}
  <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
  <!-- BEGIN CORE PLUGINS -->
  <script src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>
  <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
  <script src="{{ url_for('static', filename='jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript" ></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.slimscroll.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='blockui.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='jquery.uniform.min.js') }}" type="text/javascript"></script>
  <!-- END CORE PLUGINS -->
  <!-- BEGIN PAGE LEVEL PLUGINS -->
  <script src="{{ url_for('static', filename='select2.min.js') }}" type="text/javascript" ></script>
  <script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='dataTables.bootstrap.js') }}" type="text/javascript"></script>
  <!-- END PAGE LEVEL PLUGINS -->
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="{{ url_for('static', filename='app.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='table-editable.js') }}" type="text/javascript"></script>
  <script>
  jQuery(document).ready(function() {       
     App.init();
     TableEditable.init();
  });
  </script>
<!-- These are the scripts provided by sqlalchemy-datatables -->
<!--
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      var table = $('sample_editable_1').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{{ url_for('main.data') }}"
      });
    });
    console.log(table)
  </script>
-->
{% endblock %}
